name: CI Webhook Collector

on:
  pull_request:
    paths:
      - 'webhook-collector/**/*'
      - '.github/workflows/ci-webhook-collector.yml'

permissions: {}

jobs:
  build-and-test:
    permissions:
      id-token: write
      contents: read
      attestations: write
    runs-on: ubuntu-latest
    env:
      TARGET_TYPE: opensearch
      OPENSEARCH_HOST: opensearch-node1
      OPENSEARCH_PORT: 9200
      OPENSEARCH_PROTOCOL: 'https'
      OPENSEARCH_USERNAME: 'admin'
      OPENSEARCH_PASSWORD: 'ChangeMe123!'
      OPENSEARCH_VERSION: '2.14.0'
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Install Dependencies
        run: |
          cd webhook-collector
          npm ci
      - name: Run Tests
        run: |
          cd webhook-collector
          npm test
      - name: Check if Dist is up to date
        run: |
          cd webhook-collector
          npm run build
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build" >> $GITHUB_STEP_SUMMARY
          fi
        id: diff
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: './webhook-collector/dist'
